body {
  font-family: sans-serif;
}

h2 {
  background-color: #7f7f7f;
  color: azure;
  text-align: center;
  margin: 0;
  padding: 15px;
}

header {
  position: relative;
}

.likeBtn {
  position: absolute;
  margin: 5%;
  right: 0;
  bottom: 0;
}

.main-div {
  border: 5px solid #7f7f7f;
  width: 350px;
}

.main-paragraph {
  margin: 2%;
  font-size: 16px;
  text-align: center;
}

.main-price {
  margin: 5%;
}

.main-price strong {
  font-style: italic;
}

li::first-letter {
  font-size: x-large;
}

.checkout {
  width: 100%;
  padding: 15px;
  font-weight: bold;
  color: #ffffff;
  background-color: black;
}

.checkout:hover {
  color: #000000;
  background-color: #ffffff;
  cursor: pointer;
}
